[Desktop Entry]
Type=Application
Version=1.0
Name=Audiopad
GenericName=Soundboard
Exec=/opt/audiopad/audiopad
Icon=audiopad
Terminal=false
Categories=Audio;Music;Player;AudioVideo;
Comment=A universal soundboard that uses PulseAudio modules or PipeWire linking
